@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
  /*0% { background-position: 0 0; }
  100% { background-position: -100% 0; }*/
}

html {
  text-align: center;
}

h1 {
  margin-top: 10%;
}

body {
  background-image: url("../img/clouds.png");
  background-size: 125%;
  background-position: 0px 0px;
	background-repeat: repeat-x;
  animation: animatedBackground 5s linear infinite;
  overflow: hidden;
}

#quoteoutput {
  border: 5px solid #33C3F0;
  height: 300px;
  margin: 0 auto;
  margin-left: 4%;
  border-radius: 5px 20px 5px;
  padding: 5%;
  font-size: 1.5em;
  font-family: fantasy;
  letter-spacing: 0.25em;
}

#container {
  margin: 0 auto;
  width: 80%;
}

#heading {
  font-family: "copperplate";
}

.btn-container {
  margin: 20px;
}

#submitbtn {
  border-radius: 5px 20px 5px;
  border: 2px solid #C8CEE3;
}

/* Styling the svg loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loader {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.loader svg path,
.loader svg rect {
  fill: #40b5ff;
}
