html {
  text-align: center;
}

h1 {
  margin-top: 10%;
}

#quoteoutput {
  border: 5px solid #33C3F0;
  height: 300px;
  margin: 0 auto;
  margin-left: 4%;
  border-radius: 5px 20px 5px;
  padding: 10%;
  font:
}

#container {
  margin: 0 auto;
  width: 80%;
}

#heading {
  font-family: "copperplate";
}

.btn-container {
  margin: 20px;
}

#submitbtn {
  border-radius: 5px 20px 5px;
  border: 2px solid #C8CEE3;
}


/* Styling the svg loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loader {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.loader svg path,
.loader svg rect {
  fill: green;
}
